VITE_SUPABASE_URL=https://hkuqphsxstoofvkfkxsg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrdXFwaHN4c3Rvb2Z2a2ZreHNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyODc2MDQsImV4cCI6MjEwMzg2MzYwNH0.rBdlDkRLoEOXOrZN94Fhupz2ArJfVV9ymboLVp0Khz0
